<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CricLive</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

  <nav class="bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
     
      <a href="#" class="text-white text-lg font-bold">CricLive Scores</a>

      <div class="space-x-4">
        <a routerLink="/" class="text-white hover:text-gray-300 cursor-pointer">Home</a>
        <a routerLink="/live-score" class="text-white hover:text-gray-300 cursor-pointer">Live Matches</a>
        <a routerLink="/all-matches" class="text-white hover:text-gray-300 cursor-pointer">All Matches</a>
        <a routerLink="/point-table" class="text-white hover:text-gray-300 cursor-pointer">Points Table</a>
      </div>
      <div></div>
    </div>
  </nav>

</body>
</html>
